In [13]:
test = pd.DataFrame({"Messy":["21/12/2017 11:12:48","Port:4","Reading 1: 1","----","21/12/2017 11:13:48","Port:4","Reading 1: 2","Reading 2: 2.5","----"]})

In [14]:
test

                 Messy
0  21/12/2017 11:12:48
1               Port:4
2         Reading 1: 1
3                 ----
4  21/12/2017 11:13:48
5               Port:4
6         Reading 1: 2
7       Reading 2: 2.5
8                 ----

In [15]:
target = pd.DataFrame({"Time":["21/12/2017 11:12:48","21/12/2017 11:13:48"],"Port":["Port:4","Port:4"],"Field1":['Reading 1: 1','Reading 1: 2'],"Field2":['','Reading 2: 2.5']})

In [16]:
target

         Field1          Field2    Port                 Time
0  Reading 1: 1                  Port:4  21/12/2017 11:12:48
1  Reading 1: 2  Reading 2: 2.5  Port:4  21/12/2017 11:13:48

In [17]:
#check separator
m = test['Messy'].str.startswith('----')
#create groups
test['g'] = m.cumsum()
#filter out separator rows
df = test[~m].copy()
#count groups
df['c'] = df.groupby('g').cumcount()
print(df)

                 Messy  g  c
0  21/12/2017 11:12:48  0  0
1               Port:4  0  1
2         Reading 1: 1  0  2
4  21/12/2017 11:13:48  1  0
5               Port:4  1  1
6         Reading 1: 2  1  2
7       Reading 2: 2.5  1  3

In [18]:
#pivoting
df = df.pivot('g','c','Messy')
print(df)

c                    0       1             2               3
g
0  21/12/2017 11:12:48  Port:4  Reading 1: 1            None
1  21/12/2017 11:13:48  Port:4  Reading 1: 2  Reading 2: 2.5